@font-face {
  font-family: 'Libre Baskerville';
  src: url('./fonts/LibreBaskerville-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./fonts/LibreBaskerville-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('./fonts/LibreBaskerville-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  font-size: clamp(1rem, calc(0.7rem + 2.5vw), 2.5rem);
  font-family: 'Libre Baskerville', serif;
  margin: 0 max(5vw, calc(12em - 300px));
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separator {
  margin: 0 1em;
}

.date {
  margin-top: 2em;
}

.where {
  text-align: center;
}

.deemph {
  font-size: 0.6em;
  font-style: italic;
}

.zip {
  margin-left: 0.5em;
}

.mosteiro {
  width: 100%;
  aspect-ratio: 1260 / 900;
}

.challet {
  width: 100%;
  aspect-ratio: 2780 / 2420;
}

footer {
  height: 50vh;
}

.hidden {
  opacity: 0;
}
