body {
  font-size: clamp(1rem, calc(0.7rem + 2.5vw), 2.5rem);
  margin: 0 2em;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separator {
  margin: 0 1em;
}

.date {
  margin-top: 2em;
}

.where {
  text-align: center;
}

.deemph {
  font-size: 0.6em;
  font-style: italic;
}

.zip {
  margin-left: 0.5em;
}

img {
  width: 100%;
}

footer {
  height: 50vh;
}
